
.navbar-brand{
     margin-left: 95px;
}
.navbar-nav li {
    margin-right: 65px; /* You can adjust this value to control the space between li elements */

}
.navbar-custom {
    background-color: transparent !important; /* Use !important to override Bootstrap styles */
}
.navbar-custom .nav-link {
    color: black !important; /* Set the font color to white */
}
/*.nav1{
   margin-left:200px;
   padding-left:100px;
}
*/
.center-vertical {
    display: flex;
    align-items: center;
    min-height: 100vh; /* Ensure it takes at least the full height of the viewport */
}

/* Centering the form specifically */

/* Center the text in the header */
.row1 {
    display: flex;
    justify-content: center;
}

.recipes-container1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Creates 4 columns */
    grid-gap: 20px; /* Space between rows and columns */
    margin-bottom: 10px
}

.recipe-item img {
    width: 300px;
    height:300px;
    display: block;
}

.spacer {
    height: 300px; /* Adjust this value to create sufficient space above the footer */
}
.btn-custom-edit {
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    width: 80px;
    margin: 5px;
}

.btn-custom-delete {
    background-color: #f44336; /* Red background */
    color: white; /* White text */
    width: 80px;
    margin: 5px;
}

.content-flex-container {
    display: flex;
    align-items: center; /* Aligns items vertically center */
    justify-content: center; /* Centers items and reduces space between them */
    padding: 50px;
    margin:50px
}

.card-container {
    flex: 1; /* Allows the card to grow as needed */
    margin-right: 10px; /* Optional: Adds margin to the right of the card */
}

.image-container {
    flex: 1; /* Allows the image container to grow as needed */
    margin-left: 10px; /* Optional: Adds margin to the left of the image */
}

 #addIngredientForm {
            text-align: left;
            margin: auto;
            max-width: 600px; /* Adjust as needed */
            padding: 20px;
            border: 1px solid #ddd; /* Optional border */
            border-radius: 4px; /* Optional rounded corners */
            background-color: #f9f9f9; /* Light background */
        }
        #addIngredientForm h3 {
            color: #333;
        }
        #addIngredientForm ul {
            list-style-type: none;
            padding: 0;
        }
        #addIngredientForm li {
            margin-bottom: 10px;
        }
        #addIngredientForm .submit-button {
            display: block;
            margin: 20px auto;
        }
#custom-margin-top {
    margin-top: 100px; /* Adjust the value as needed */
}

  .btn-action {
        margin-right: 30px; /* Add a gap between buttons */
        margin-bottom: 20px;
        width: 100px;
    }

    .btn-action:hover {
        background-color: #FF5733; /* Change background color on hover */
        color: #ffffff; /* Change text color on hover */
    }



